<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html>

<head>

<link rel="stylesheet" type="text/css" href="media/extjs/resources/css/ext-all.css">

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>Paste bin</title>

<style type="text/css">
#text
{
position:absolute;
left:110px;
}
#title
{
position:absolute;
left:110px;
}
#name
{
position:absolute;
left:110px;
}
</style>

</head>

<body>

<form action="/pastebin/search/" method="get">
    <label>search</label> <input type="text" name="q"/><button type="submit">search</button><br/>
</form>
<br/>

<script type="text/javascript">
function send_data() {
    var patt1=new RegExp("^\\d{1,2}/\\d{1,2}/\\d{4}$");
    var date_str = document.getElementById("dateField").value;
    if(! patt1.test(date_str)){
        alert("Inserted date has wrong format");
        return false;
    }
    var date_array = date_str.split("/");
    if(date_array[0].length > 2 || date_array[1].length > 2 || date_array[2].length != 4) {
        alert("Inserted date has wrong format");
        return false;
    }
    var rec_date = new Date(date_array[2], date_array[1] - 1, date_array[0]);
	var day = date_array[0];
	var month = date_array[1] - 1;
	var year = date_array[2];

	if(year != rec_date.getFullYear() || month != rec_date.getMonth() || day != rec_date.getDate())
	{
		alert('Date is not valid!');
		return false;
	}

    if(rec_date < new Date()) {
        alert("Inserted date is before today");
        return false;
    }
    document.getElementById("sendForm").submit();
}

</script>


<form id="sendForm" action="/pastebin/save/" method="post">
{% csrf_token %}
<label>Enter a date: </label><input type="text" id="dateField" name="date"><button type="button" id="openCalendar">Open Calendar</button><div id="calendar"></div>
<label>name</label> <input id="name" type="text" name="name" {% if err_input %} value="{{name}}" {% endif %}/><br/>
<label>title</label> <input id = "title"type="text" name="title" {% if err_input %} value="{{title}}" {% endif %}/><br/>
<label>text</label><br/> <textarea name="text"rows="10" cols="30">{% if err_input %} {{text}} {% endif %}</textarea><br/>
<button type="button" onclick="send_data()">send</button>
</form>

<script type="text/javascript" src="media/extjs/adapter/ext/ext-base.js"></script>

<script type="text/javascript" src="media/extjs/ext-all.js"></script>

<script type="text/javascript">

 

//set local blank image
Ext.BLANK_IMAGE_URL = 'media/resources/images/default/s.gif';

//define function to be executed when page loaded
Ext.onReady(function() {

	//define select handler
	var selectHandler = function(myDP, date) {
		//get the text field
		var field = document.getElementById('dateField');

		//add the selected date to the field
		field.value = date.format('d/m/Y');

		//hide the date picker
		myDP.hide();
	};

	//create the date picker
	var myDP = new Ext.DatePicker(
		{
			startDay: 1,
			listeners: {'select':selectHandler}
		}

	);

	//render the date picker
	myDP.render('calendar');

	//hide date picker straight away
	myDP.hide();

	//define click handler
	var clickHandler = function() {
		//show the date picker
		myDP.show();
	};

	//add listener for button click

	Ext.EventManager.on('openCalendar', 'click', clickHandler);

});

</script>

</html>
